footer {
    margin-top: 196px;
    background-color: var(--dark-color);
}

.footer-contents {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 96px;
    padding: 96px 0;
    flex-wrap: wrap;
    place-content: center;
}

.footer-contents img {
    width: 180px;
    border-radius: 8px;
}

.line-2{
    height: 1px;
    margin: 6px 0;
    max-width: 86px;
    width: 100%;
    border-radius: 100vmax;
    background: var(--gradient);
}

.footer-contents h1 {
    font-size: var(--H6);
    font-family: Poppins, Arial;
    color: var(--black10);
    font-weight: 300;
}

.footer-contents ul li a {
    color: var(--black10);
    font-family: Poppins, Arial;
    font-weight: 200;
}

.line-3 {
    height: 1px;
    left: 0;
    right: 0;
    position: absolute;
    background: var(--gradient);
}


.footer-credits {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-credits p {
    padding: 11px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black10);
    font-weight: 200;
}

@media (max-width: 1020px) {
    footer {
        margin-top: 128px;
    }
    
    .footer-contents {
        gap: 32px;
        padding: 32px 0;
    }
}

@media (max-width: 600px) {
    footer {
        margin-top: 96px;
    }
    
    .footer-contents {
        gap: 32px;
        padding: 32px 0;
    }
}